._*
*.mode1v3
*.pbxuser
*.perspectivev3
*.user
*.ncb
*.suo
*.obj
*.ilk
*.pch
*.pdb
*.dep
*.idb
*.manifest
*.manifest.res
*.o
*.d
*.sdf
xcuserdata
contents.xcworkspacedata
.DS_Store
.svn
profile
extras/JuceDemo/Builds/MacOSX/build
extras/JuceDemo/Builds/Linux/build
extras/JuceDemo/Builds/VisualStudio2005/Debug
extras/JuceDemo/Builds/VisualStudio2005/Release
extras/JuceDemo/Builds/VisualStudio2008/Debug
extras/JuceDemo/Builds/VisualStudio2008/Release
extras/JuceDemo/Builds/VisualStudio2010/Debug
extras/JuceDemo/Builds/VisualStudio2010/Release
extras/JuceDemo/Builds/Android/bin
extras/JuceDemo/Builds/Android/libs
extras/JuceDemo/Builds/Android/gen
extras/JuceDemo/Builds/Android/obj
extras/JuceDemo/Builds/iOS/build
extras/audio plugin demo/Builds/MacOSX/build
extras/audio plugin demo/Builds/Linux/build
extras/audio plugin demo/Builds/VisualStudio2005/Debug
extras/audio plugin demo/Builds/VisualStudio2005/Release
extras/audio plugin demo/Builds/VisualStudio2008/Debug
extras/audio plugin demo/Builds/VisualStudio2008/Release
extras/audio plugin host/Builds/MacOSX/build
extras/audio plugin host/Builds/Linux/build
extras/audio plugin host/Builds/VisualStudio2005/Debug
extras/audio plugin host/Builds/VisualStudio2005/Release
extras/audio plugin host/Builds/VisualStudio2008/Debug
extras/audio plugin host/Builds/VisualStudio2008/Release
extras/Introjucer/Builds/MacOSX/build
extras/Introjucer/Builds/Linux/build
extras/Introjucer/Builds/VisualStudio2005/Debug
extras/Introjucer/Builds/VisualStudio2005/Release
extras/Introjucer/Builds/VisualStudio2008/Debug
extras/Introjucer/Builds/VisualStudio2008/Release
extras/Introjucer/Builds/VisualStudio2010/Debug
extras/Introjucer/Builds/VisualStudio2010/Release
extras/the jucer/Builds/MacOSX/build
extras/audio plugin host/build/mac/build
extras/audio plugin demo/Builds/VisualStudio2008
extras/binarybuilder/Builds/MacOSX/build
extras/binarybuilder/Builds/Linux/build
extras/binarybuilder/Builds/VisualStudio2005/Debug
extras/binarybuilder/Builds/VisualStudio2005/Release
extras/binarybuilder/Builds/VisualStudio2008/Debug
extras/binarybuilder/Builds/VisualStudio2008/Release
extras/binarybuilder/Builds/VisualStudio2010/Debug
extras/binarybuilder/Builds/VisualStudio2010/Release
extras/static library/Builds/MacOSX/build
extras/static library/Builds/VisualStudio2008/Debug
extras/static library/Builds/VisualStudio2008/Release
extras/static library/Builds/VisualStudio2010/Debug
extras/static library/Builds/VisualStudio2010/Release
extras/windows dll/Builds/VisualStudio2008/Debug
extras/windows dll/Builds/VisualStudio2008/Release
