Checks: >
  *,
  -*-magic-numbers,
  -*-uppercase-literal-suffix,
  -bugprone-branch-clone,
  -bugprone-reserved-identifier,
  -bugprone-suspicious-string-compare,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -google-readability-todo,
  -hicpp-signed-bitwise,
  -llvm-header-guard,
  -llvmlibc-*,
  -misc-no-recursion,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
