name: JUCE Private Build

on:
  workflow_dispatch:
    inputs:
      triggerer:
        required: false
        type: string
        default: ''
        description: The GitHub ID to receive email notifications (leave blank)
      nightly-targets:
        required: false
        type: string
        default: "[]"
        description: A list of nightly build targets in JSON format
      cpp-std:
        required: false
        type: string
        default: ""
        description: The C++ standard to use (optional [20, 23])

env:
  target_url: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}

run-name: "[${{ inputs.triggerer && inputs.triggerer || github.event.sender.login }}] ${{ github.sha }}"

jobs:
  setup:
    if: ${{ (inputs.nightly-targets == '[]') && (inputs.cpp-std == '') }}
    name: Check and set CI commit status
    runs-on: ubuntu-latest
    env:
      GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    outputs:
      build: ${{ steps.status_check.outputs.build }}
    steps:
      - uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
          sparse-checkout: |
            .github/workflows
      - id: status_check
        shell: python
        run: |
          import sys
          import os
          sys.path.append(os.path.abspath('.github/workflows'))
          from github_api_request import json_github_api_request
          sha = os.environ["GITHUB_SHA"]
          statuses_response = json_github_api_request(f'commits/{sha}/statuses')
          status = next(filter(lambda x: x['context'] == 'CI', statuses_response), None)
          if (status is None) or (status['state'] != 'success'):
            with open(os.environ['GITHUB_OUTPUT'], 'a') as f:
              f.write(f'build=1\n')
            data = {
              'state': 'pending',
              'context': 'CI',
              'target_url': os.environ['target_url'],
            }
            post_response = json_github_api_request(f'statuses/{sha}', 'POST', data)
            print(post_response)
  build:
    if: ${{ !cancelled() && (success() || needs.setup.result == 'skipped') && (inputs.nightly-targets != '[]' || inputs.cpp-std != '' || needs.setup.outputs.build == '1' || contains(fromJSON('["master"]'), github.ref_name)) }}
    needs: [setup]
    name: .
    # Not having the ability to do a dynamic 'uses' call is a real pain. To
    # test some new CI configuration you must set the branch in both places
    # below.
    uses: juce-framework/JUCE-utils/.github/workflows/main.yml@master
    with:
      juce-utils-branch: master
      nightly-targets: ${{ inputs.nightly-targets }}
      triggerer: ${{ inputs.triggerer && inputs.triggerer || github.event.sender.login }}
      cpp-std: ${{ inputs.cpp-std }}
    secrets: inherit
  deploy:
    if: ${{ !cancelled() && (success() || needs.build.result == 'skipped') && contains(fromJSON('["master", "develop"]'), github.ref_name) && inputs.cpp-std == '' && inputs.nightly-targets == '[]' }}
    needs: [build]
    name: Deploy
    uses: juce-framework/JUCE-utils/.github/workflows/deploy.yml@master
    secrets: inherit
  docs:
    if: ${{ !cancelled() && (success() || needs.deploy.result == 'success') && contains(fromJSON('["master", "develop"]'), github.ref_name) && inputs.cpp-std == '' && inputs.nightly-targets == '[]' }}
    needs: [deploy]
    name: Docs
    uses: juce-framework/JUCE-utils/.github/workflows/docs.yml@master
    secrets: inherit
  set-commit-status:
    if: ${{ always() && (inputs.nightly-targets == '[]') && (inputs.cpp-std == '') }}
    needs: [setup, build, deploy, docs]
    name: Set CI commit status
    runs-on: ubuntu-latest
    env:
      result: ${{ contains(needs.*.result, 'cancelled') && 'cancelled' || (contains(needs.*.result, 'failure') && 'failure' || 'success') }}
    steps:
      - uses: myrotvorets/set-commit-status-action@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          sha: ${{ github.sha }}
          status: ${{ contains(fromJSON('["cancelled", "failure"]'), env.result) && 'failure' || env.result }}
          context: CI
          description: ${{ env.result }}
          targetUrl: ${{ env.target_url }}
  notify:
    if: ${{ always() && !contains(needs.*.result, 'cancelled') }}
    needs: [setup, build, deploy, docs]
    name: Notify
    uses: juce-framework/JUCE-utils/.github/workflows/notify.yml@master
    with:
      juce-utils-branch: master
      triggerer: ${{ inputs.triggerer && inputs.triggerer || github.event.sender.login }}
      context: ${{ toJson(needs) }}
    secrets: inherit
